<main class="main">
  <div class="inner">
    <h1>top page</h1>
    <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search__form") do |f| %>
      <%= f.text_field :keyword, placeholder: "レシピタイトルを検索する", class: "search__recipe" %>
      <%= f.submit "検索", class: "search__btn" %>
    <% end %>
    <div class = "top__main">
      <div class ="recipe_all_top">
        <h4 class = recipe__title>投稿レシピ一覧</h4>
        <%@recipes.each do |recipe|%>
          <%= render partial: 'shared/recipe_card', locals: {recipe: recipe} %>
        <%end%>
        <%= paginate @recipes, :param_name => 'index_recipe' %>
      </div>
      <div class = "tag__all">
        <h4 class = recipe__title>タグ一覧</h4>
        <%@tags.each do |tag|%>
          <%= render partial: 'shared/tags_list', locals: {recipe_tag: tag} %>
        <%end%>
        <%= paginate @tags, :param_name => 'index_tag' %>
      </div>
    </div>
  </div>
    <%= link_to(new_recipe_path, class: 'new__recipe__btn') do %>
      <span>レシピ投稿</span>
      <%#<%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
</main>