<main class="main">
  <div class="inner">
    <h2 class = recipe__title><%= @recipe.title %><h2>
    <div class="recipe__row">
      <div class = "tag__list">
        <%@tags.each do |recipe_tag|%>
          <%= link_to recipe_tag.tag, recipe_tag_path(recipe_tag.id), class: :recipe__tag%>
        <%end%>
      </div>
      <%= link_to "by #{@recipe.user.nickname}", user_path(@recipe.user_id), class: :recipe__user %>
    </div>
    <% if user_signed_in? && current_user.id == @recipe.user_id %>
      <div class="recipe__manage">
        <%= link_to "編集", edit_recipe_path(@recipe.id), class: :food__btn %>
        <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: :food__btn %>
      </div>
    <% end %>
    <div class = "recipe__main">
      <div class = "recipe__main__left">
        <%= image_tag @recipe.image, class: :recipe__image %>
        <div class = "show__like" id = "likes_<%@recipe.id%>">
          <%= render partial: 'shared/like', locals: {recipe: @recipe}%>
        </div>
      </div>
      <div class = "recipe__food">
        <h2 class = recipe__title>材料<h2>
        <%=@recipe.people%>人前
        <div class = "recipe__food__list">
          <%= safe_join(@recipe.food.split("\n"),tag(:br)) %>
        </div>
      </div>
    </div>
    <h2 class = food__title>作り方<h2>
    <div class = "recipe__making">
      <%= safe_join(@recipe.making.split("\n"),tag(:br)) %>
    </div>
    <h2 class = food__title>新規作成予定<h2>
    <%if user_signed_in? %>
    <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
      <%= form_with(model: [@recipe, @plan], local: true) do |f|%>
      <div class = "plan__form">
        <div class='input__date'>
          <%= f.label :date, "日付" %>
          <%= raw sprintf(
                      f.date_select(
                        :date,
                        class:'select__date',
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: (Time.now.year - 1),
                        end_year: (Time.now.year + 3),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
        <div class="field">
          <%= f.label :people, "作成人数" %>
          <%= f.text_field :people %>人分
        </div>
          <%= f.submit "新規生成", class: :food__btn  %>
      </div>
      <% end %>
    <%# // ログインしているユーザーには上記を表示する %>
    <%end%>
    <%if @recipe.introduce.present?%>
      <div class = "recipe__introduce">
        <h2 class = food__title>レシピ紹介・アドバイス<h2>
        <div class = "recipe__making">
          <%= safe_join(@recipe.introduce.split("\n"),tag(:br)) %>
        </div>
      </div>
    <%end%>
      <div class="recipe__comments">
        <h2 class = food__title>コメント一覧<h2>
        <%if user_signed_in? %>
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%= form_with(model: [@recipe, @comment], local: true) do |f|%>
          <div class = "comment__form">
            <div class="field">
              <%= f.label :text, "新規コメント" %>
              <%= f.text_field :text %>
            </div>
              <%= f.submit "送信する", class: :food__btn  %>
          </div>
          <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <%end%>
        <ul class="comments_lists">
        
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%=comment.text%>
              <%= link_to "by #{comment.user.nickname}", user_path(comment.user_id), class: :comment_user %>
            </li>
          <%end%>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
  </div>
</main>