<main class="main">
  <div class="inner">
  <span>カテゴリーを指定</span>
  <div class = search__form>
  <%= form_with(url: search_foods_path, local: true, method: :get) do |f|%>
    <%= f.collection_select(:keyword, FoodTag.all, :id, :name, {}, {class: :food__form__text, id:"item-shipping-fee-status"}) %>
    <%= f.submit "検索", class: :form__btn  %>
  <% end %>
  </div>
    <ul>
    <% @foods.each do |food| %>
      <li class = food__list>
      <div class = food__list__header>
        <p class = food__list__title><%=food.name%></p>
        <%= link_to "編集する", edit_food_path(food.id), class: :cooking__btn %>
      </div>
      <p><%=food.food_tag.name%>, XX<%=food.unit.unit%>と管理</p>
      <p></p>
      <p>保存の目安は<%=food.time%>日です</p>
      </li>
    <% end %>
    </ul>
  </div>
</main>