<main class="main">
  <div class="inner">
    <h3>買い物リスト追加</h4>
    <%= form_with model: @shopping, url: user_shoppings_path(@user.id), local: true do |f|%>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="field">
        <%= f.label :food_tag_id, "食材" %><br />
        
        <%= f.collection_select(:food_id, Food.where.not(id: @exception), :id, :list_food, {:prompt => true}, {class: :food__form__text, id:"input-food"}) %>
      </div>
      <div class="field">
        <%= f.label :num, "個数" %><br />
        <%= f.text_area :num , class: :date__form__text %>
        <p id='unit-count'></p>
      </div>
      <div class="actions">
        <%= f.submit "食材追加", class: :form__btn  %>
      </div>
    <%end%>
    <h4>買い物リスト一覧</h4>
    <%= render partial: 'shared/shopping', locals: { user: @user}, collection: @shoppings %>
  </div>
</main>